body {
    width: 80%;
    max-width: 1000px;
    margin:auto;
    padding: 20px;
    background-color: antiquewhite;
    color: navy;
}
h1 {
    background-color: antiquewhite;
    color:navy
}
h2 {
    background-color: antiquewhite;
    font-size: 18pt;
    color:navy
    
}
h3 {
    background-color: antiquewhite;
    color:navy
}
p {
    background-color: antiquewhite;
    font-size: 12pt;
    color:black
    
}
#scottishfold {
    color: rgb(0, 247, 255);
    background-color: steelblue;

}
#savannah {
    color: rgb(255, 231, 20);
    background-color: rgb(116, 82, 33);
}
#bengali {
    color: deeppink;
    background-color: snow;
}
.piros {
    color: red;
}
a {
    text-decoration: none;
    border-style: solid;
    border: size 12px;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid;
    margin: 20px;
  }
a:hover {
    background-color:navy;
    color: aqua;
}